
.bg{
    //background-image: url('/assets/icon/images/close-up-code-coding-1089440.jpg');
    height: 100%;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-position: center; 
    background-origin: content-box;
    background-size: cover;
    opacity: 0.5;
    filter: alpha(opacity=50)
    
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #43D1AF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 700;
  text-shadow: slategray 3px 2px 0;
  position: relative;
  text-align: center;
  top: 0;
  background-image: url('/assets/icon/images/giphy.gif');
  font-size: 14;
  border-radius: 10px;
  border: 3px solid #BADA55;

}



.bBody{

 top:0;
  left: 0;
  right: 0;
  position: absolute;
  font: 95% Arial, Helvetica, sans-serif;
    max-width: 350px;
    margin: 10px auto;
    padding: 10px;
 
  text-align: center;

}

ion-button{
  text-align: center;
  

}
