<ion-header>
  <ion-toolbar>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg">
    <h1><span>Welcome To computer App</span></h1>
      <div class="bBody">
        <ion-button color="primary"(click)="onNetworkSub()" size="large">Computer Networks</ion-button><br>
        <ion-button  color="primary" (click)="onCLISub()" size="large">Command Line Interface</ion-button><br>
        <ion-button  color="primary" (click)="onHardwareSub()" size="large">Computer Hardware </ion-button>
      </div>
    </div> 
  
</ion-content>
