<ion-header>
  <ion-toolbar>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg"> </div> 
   
      <div class="bBody">
          <h1><span>Welcome To Computer Quizz App</span></h1>
        <ion-button color="primary"(click)="onNetworkSub()" size="large">Computer Networks</ion-button><br>
        <ion-button  color="primary" (click)="onCLISub()" size="large">Command Line Interface</ion-button><br>
        <ion-button  color="primary" (click)="onHardwareSub()" size="large">Computer Hardware </ion-button>
      </div>
   
  
</ion-content>
