
.bg{
   // background-image: url('/assets/images/anatomy-biology-bone-2678059-removebg-preview.png');
    height: 100%;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-position: center; 
    background-origin: content-box;
    background-size: cover;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #43D1AF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 700;
  text-shadow: slategray 3px 2px 0;
  position: relative;
  text-align: center;
  top: 10%;

}



.bBody{

  top:50%;
  left: 0;
  right: 0;
  position: absolute;
  font: 95% Arial, Helvetica, sans-serif;
    max-width: 350px;
    margin: 10px auto;
    padding: 7px;
 
  text-align: center;

}
h2 span{
  //background-color: slategray;
  font-size: 14;
}